<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapp" >
    <uses-permission android:name="android.poermission"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <receiver android:name=".AlertReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activity.BulletinBoardActivity" />
        <activity android:name=".Activity.BulletinBoardWriteActivity" />
        <activity android:name=".Activity.ExerAlarmActivity" />
        <activity android:name=".Activity.PedometerActivity" />
        <activity android:name=".Activity.PostActivity" />
        <activity android:name=".Activity.RoomActivity" />
        <activity android:name=".Activity.MessageActivity" />
        <activity android:name=".Activity.GalleryActivity" />
        <activity android:name=".Activity.ExerDictionaryActivity" />
        <activity android:name=".Activity.FoodDictionaryActivity" />
        <activity android:name=".Activity.VideoActivity" />
        <activity android:name=".Activity.ReportActivity" />
        <activity android:name=".Activity.AlarmActivity" />
        <activity android:name=".Activity.DictionaryActivity" />
        <activity android:name=".Activity.CommunityActivity" />
        <activity android:name=".Activity.MenuActivity" />
        <activity android:name=".Activity.UserLeaveActivity" />
        <activity android:name=".Activity.UserLeaveCheckActivity" />
        <activity android:name=".Activity.UserUpdateinfoActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity
            android:name=".Activity.ResetPasswordActivity"
            android:parentActivityName=".Activity.LoginActivity"></activity>
        <!--
 <activity android:name=".Activity.MainActivity"
            android:exported="false"> 가 원래 모습
        -->
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>